<header>
    <div class="container-lg">
        <div class="header_top">
            <div class="text-center py-3">
                <a href="index.html"><img src="https://picsum.photos/300/150"></a>
            </div>
            <div class="header_top_links">
                <a href="index.html">回首頁</a> / 
                <a href="">友善連結</a> / 
                <a href="">意見回饋</a>
            </div>
        </div>
        <div class="header_bot">
            <ul class="header_bot_nav">
                <li class="_item">
                    <a class="_link" href="about.html">關於我們</a>
                </li>
                <li class="_item">
                    <a class="_link" href="news.html">最新消息</a>
                </li>
                <li class="_item">
                    <a class="_link active" href="login.html">報名登入</a>
                </li>
                <li class="_item">
                    <a class="_link" href="howto.html">比賽辦法</a>
                </li>
                <li class="_item">
                    <a class="_link" href="live.html">比賽實況</a>
                </li>
            </nav>
        </div>
    </div>
</header>